<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="MIOStorePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.Customercarestaff</class>
    <class>entities.Post</class>
    <class>entities.Allowance</class>
    <class>entities.Notification</class>
    <class>entities.Ram</class>
    <class>entities.Category</class>
    <class>entities.Cart</class>
    <class>entities.Customer</class>
    <class>entities.Publisher</class>
    <class>entities.Bill</class>
    <class>entities.Onlineorder</class>
    <class>entities.BookCategory</class>
    <class>entities.Feedback</class>
    <class>entities.Manager</class>
    <class>entities.Cash</class>
    <class>entities.Voucher</class>
    <class>entities.Person</class>
    <class>entities.Employee</class>
    <class>entities.Payment</class>
    <class>entities.Item</class>
    <class>entities.EmployeeWorkschedule</class>
    <class>entities.Importingrecord</class>
    <class>entities.Fullname</class>
    <class>entities.Qrcode</class>
    <class>entities.Promotion</class>
    <class>entities.ItemBook</class>
    <class>entities.Seller</class>
    <class>entities.Supplier</class>
    <class>entities.Account</class>
    <class>entities.Shippingaddress</class>
    <class>entities.Branchstore</class>
    <class>entities.Workschedule</class>
    <class>entities.Shipping</class>
    <class>entities.Onlineseller</class>
    <class>entities.Cpu</class>
    <class>entities.Order1</class>
    <class>entities.Orderline</class>
    <class>entities.Miocardreal</class>
    <class>entities.Onsiteseller</class>
    <class>entities.Address</class>
    <class>entities.WishlistBook</class>
    <class>entities.Transfer</class>
    <class>entities.Membershiptype</class>
    <class>entities.Contactinfor</class>
    <class>entities.Author</class>
    <class>entities.Wishlist</class>
    <class>entities.Importingstaff</class>
    <class>entities.OnlineorderEntitiy</class>
    <class>entities.AuthorEntitiy</class>
    <class>entities.CustomercarestaffEntitiy</class>
    <class>entities.ShippingEntitiy</class>
    <class>entities.MiocardrealEntitiy</class>
    <class>entities.QrcodeEntitiy</class>
    <class>entities.ManagerEntitiy</class>
    <class>entities.ContactinforEntitiy</class>
    <class>entities.PublisherEntitiy</class>
    <class>entities.AddressEntitiy</class>
    <class>entities.BranchstoreEntitiy</class>
    <class>entities.FeedbackEntitiy</class>
    <class>entities.Order1Entitiy</class>
    <class>entities.AccountEntitiy</class>
    <class>entities.PersonEntitiy</class>
    <class>entities.PostEntitiy</class>
    <class>entities.CategoryEntitiy</class>
    <class>entities.SellerEntitiy</class>
    <class>entities.PromotionEntitiy</class>
    <class>entities.PaymentEntitiy</class>
    <class>entities.VoucherEntitiy</class>
    <class>entities.OnsitesellerEntitiy</class>
    <class>entities.AllowanceEntitiy</class>
    <class>entities.NotificationEntitiy</class>
    <class>entities.BillEntitiy</class>
    <class>entities.OrderlineEntitiy</class>
    <class>entities.OnlinesellerEntitiy</class>
    <class>entities.MembershiptypeEntitiy</class>
    <class>entities.TransferEntitiy</class>
    <class>entities.RamEntitiy</class>
    <class>entities.ItemBookEntitiy</class>
    <class>entities.CpuEntitiy</class>
    <class>entities.EmployeeWorkscheduleEntitiy</class>
    <class>entities.BookCategoryEntitiy</class>
    <class>entities.SupplierEntitiy</class>
    <class>entities.WishlistBookEntitiy</class>
    <class>entities.CartEntitiy</class>
    <class>entities.WishlistEntitiy</class>
    <class>entities.ImportingrecordEntitiy</class>
    <class>entities.EmployeeEntitiy</class>
    <class>entities.ItemEntitiy</class>
    <class>entities.CustomerEntitiy</class>
    <class>entities.CashEntitiy</class>
    <class>entities.FullnameEntitiy</class>
    <class>entities.ShippingaddressEntitiy</class>
    <class>entities.ImportingstaffEntitiy</class>
    <class>entities.WorkscheduleEntitiy</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/kttk?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="123123a@"/>
    </properties>
  </persistence-unit>
</persistence>
